<section>
  <div class="container">
    <form action="/admin/addproducts" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" name="name" class="form-control">

      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Category</label>
        <input type="text" name="Category" class="form-control">

      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">image</label>
        <input type="file" name="image" class="form-control">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Description</label>
        <input type="text" name="Description" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Enter email">

      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</section>